main{
    background-color:#333647;
}
h3{
    color: #e5e5e5;;
}
h4{
    color:#e5e5e5;
}
label{
    color: #e5e5e5;
}
div.dinfo {
    width: 450px;
    border: solid;
    padding: 35px;
    margin: 50px;
    background-color:#11121C;
    border-radius: 50px;

}
i{
    text-align: center ;
}
div.pinfo{
    color: #e5e5e5;   
}
#upload{
    font-size: 20px;
    width: 250px ;
    background-color: #F87C58;
    border-radius: 30px;
}
#tech,#abstract,#about{
    color: #e5e5e5;
    border-radius: 30px;
    background-color: #11121C;
    text-align: center;
}
#name,#email,#mobile{
    border-radius: 30px;
    font-size: 19px;
    text-align: center;
}
#ptitle{
    color: #e5e5e5;
    border-radius: 30px;
    background-color: #11121C;
    text-align: center;
    font-size:40px; 
}
#pt1{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}