span:hover{
    color: #f87c58;
}
a{
    text-decoration: none;
    color: #616374;
    line-height: 4px;
}
a:hover{
    color: #f87c58;
}
.navbar:hover{
    background-color: #11121c;
    transition: 0.7s;
}
#button .btn{
    color: #e5e5e5;
}
#button .btn:hover{
    color: #f87c58;
}
.testimonial {
	padding: 80px 0;
}
.sec-heading {
	margin-bottom: 60px;
}
.sec-heading h6 {
    color: #e5e5e5;
	font-weight: 700;
	font-size: 80px;
}
.single-box {
	border: 1px solid #e6f0fa;
	padding: 20px 5px 20px 35px;
	border-radius: 20px;
	background: #e5e5e5;
}
